@inherits LayoutComponentBase

<PageTitle>WebGPT</PageTitle>

<div class="col-4 p-0 pe-2 d-flex flex-column">
    <Sidebar />
</div>
<div class="col-8 rounded border  d-flex flex-column p-0 pt-2" style="height: calc(100vh - 1rem);">
    @Body
</div>
